{% extends "layouts/default.twig" %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
<div>
    <h1 class="title text-muted">Welcome to SimplePHP</h1>
    <p class="text">Enjoy your stay!</p>
</div>
{% endblock %}