<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple PHP{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            background-color: lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .content {
            text-align: center;
        }
        .title {
            font-weight: 700;
        }
        .text {
            font-weight: 300;
        }
        .text-muted {
            color: gray;
        }
    </style>
</head>
<body>
    <div class="content">
        {% block content %}
        {% endblock %}
                
        {% include 'others/debug.twig' with { 'data': vars } %}        
    </div>
</body>
</html>